*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.9em;
    margin:0;
}

a{
    text-decoration: none;
    color: turquoise;
}

a:hover{
    color: crimson;
}

a:active{
    color: greenyellow;
}

a:visited{
    color: blueviolet;
  
}

.container{
    width: 80%;
    margin:auto;
}

.button[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border:none;
}

.button:hover{
   background: red;
   color: #fff;

}

.box-1{
    background-color: #333333;
    color: aliceblue;

     border: 5px red solid;
     border-width: 3px; 
     border-bottom-width: 9px; 
     border-top-style:solid; 
     padding: 20px;
     margin: 20px 0;     
 
}

.box-1 h1{
    font-family:monospace;
    font-style: italic;
    font-weight:800;
    text-decoration:underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.3em; 
}

.box-2{
    border: 3px dotted crimson;
    padding: 20px;
    margin: 20px;
}

.categories{
    border:1px #ccc solid;
padding: 10px;
border-radius: 15px;

}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style:square;
    list-style:none;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../images/check.png');
}

.my-form{
    padding: 20px;
}

.form-group{
    padding-bottom: 15px;
}

.my-form label{
    display:block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float:left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

